<div class="container mt-4">
  <div class="form-row">
      <div class="col-auto">
        <label>Number of Requests</label>
        <input class="form-control" [(ngModel)]="rCount">
      </div>
      <div class="col-auto">
          <label>Mode</label>
          <div>
            <select class="form-control" [(ngModel)]="semaphoreMode">
              <option [ngValue]="1">Use Semaphores</option>
              <option [ngValue]="2">Do Not Use Semaphores</option>
              <option [ngValue]="3">Mixed</option>
            </select>
          </div>
      </div>
      <div class="col-auto">
        <label>&nbsp;</label>
        <div *ngIf="done"><button [disabled]="badRange()" class="btn btn-sm btn-primary" (click)="begin()">MAKE REQUESTS</button>
      </div>
    </div>

  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div *ngIf="badRange()" class="alert alert-warning">
        <label>Number of Requests must be > 0 and < 7.</label>
        <div>Chrome can only make up to 6 concurrent requests, the rest is queued.</div>
      </div>
      <div *ngIf="!done">
        <div class="text-primary">Getting data from server...</div>
      </div>
      <div *ngIf="error">
        <div class="text-danger">There was a problem contacting the server! Try again.</div>
      </div>
      <div *ngIf="times != null" class="container">
        <table class="table table-sm table-hover">
          <tr>
            <th>Request #</th>
            <th>Semaphores</th>
            <th>Processing Duration</th>
            <th>Query Duration</th>
            <th>Total Duration</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          <tr *ngFor="let req of times">
            <td>{{ req.n }}</td>
            <td>{{ req.semaphores }}</td>
            <td>{{ formatMS(req.exec_time) }}</td>
            <td>{{ formatMS(req.query_time) }}</td>
            <td>{{ formatMS(req.total_time) }}</td>
            <td>{{ req.begin }}</td>
            <td>{{ req.end }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>


</div>